logs_gpt/*
logs_gpt4/*
test_td_agent_value_replay_buffer.jsonl
*.pyc
sampling/mistral_best_td_agent.dat
__pycache__/*
read_data.ipynb
*_replay_buffer.jsonl
test_mc_agent_value_symbol_board_replay_buffer.jsonl
test_mc_agent_value_symbol_board.jsonl
test_mc_agent_value_text_board.jsonl
training/trained_model/*
training/wandb/*
.vscode/*
evaluation1000-2000.jsonl
evaluation2000-3000.jsonl
evaluation100-1000.zip
training/results
training/wandb
envs/tictactoe/test_import.ipynb
sampling/best_td_agent.csv
envs/tictactoe/replay_buffer.jsonl
envs/tictactoe/batch_prompt.csv
reminder.txt
oaib.txt
envs/tictactoe/batch_prompt.jsonl
training/test.ipynb
batch_response_test0.jsonl
batch_response_test1.jsonl
batch_response_test2.jsonl
envs/tictactoe/batch_prompt_test.jsonl
envs/tictactoe/batch_prompt_test0.jsonl
envs/tictactoe/batch_prompt_test1.jsonl
envs/tictactoe/batch_prompt_test2.jsonl
envs/tictactoe/batch_results.csv
envs/tictactoe/test.csv
envs/tictactoe/test.txt
oaib.txt
nlrl/envs/tictactoe/batch_prompt_test0.jsonl
nlrl/envs/tictactoe/batch_prompt_test1.jsonl
eval.ipynb
nlrl/envs/tictactoe/batch_prompt_test2.jsonl
nlrl/envs/tictactoe/batch_prompt_test.jsonl
nlrl/envs/tictactoe/batch_prompt_test1.jsonl
read_data.ipynb
nlrl/envs/tictactoe/batch_prompt_test2.jsonl
nlrl/envs/tictactoe/batch_prompt_test1.jsonl
nlrl/envs/tictactoe/batch_prompt_test0.jsonl
nlrl/envs/tictactoe/sft_dataset.csv
trained_model/*
results/*
training/*
wandb/*
sft_model_outputs.jsonl
read_data.ipynb
sft_model_outputs.jsonl
batch_prompt.jsonl
data/mc_dataset.csv
nlrl/training/eval.ipynb
nlrl/envs/tictactoe/cleaned_sft_dataset.csv
*.jsonl
*.csv
.idea/*
nlrl/envs/tictactoe/sft_dataset_test.csv
nlrl/envs/logs_gpt/*
logs_gpt4/*
test_td_agent_value_replay_buffer.jsonl
*.pyc
sampling/mistral_best_td_agent.dat
__pycache__/*
read_data.ipynb
*_replay_buffer.jsonl
test_mc_agent_value_symbol_board_replay_buffer.jsonl
test_mc_agent_value_symbol_board.jsonl
test_mc_agent_value_text_board.jsonl
training/trained_model/*
training/wandb/*
.vscode/*
evaluation1000-2000.jsonl
evaluation2000-3000.jsonl
evaluation100-1000.zip
training/results
training/wandb
*.jsonl
*.csv
